body {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

h1 {
  font-family: 'Londrina Sketch', monospace;
  font-size: 70px;
  margin: 0;
  padding-top: 6vh;
  padding-bottom: 1vh;
  background: linear-gradient(60deg, #833ab4, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}

h2 {
  color: #305d73;
  font-family: 'Amatic SC',sans-serif;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: 'Shadows Into Light', cursive;
  color: #a75d93;
}


.checkered {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0)1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0)1px), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px);
  background: linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0)1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px);
  background-position: -1px-1px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20px 20px;
  background-size:  ;
}


.container {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.container-item {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #a75d93;
  display: inline-block;
  text-align: right;
  padding-right: 3px;
  width: 60px;
  line-height: 20px;
  font-family: 'Amatic SC',sans-serif;
  font-weight: normal;
  font-size: 30px;
}

input[type=number] {
  font-family: 'Amatic SC',sans-serif;
  width: 60px;
  border: 1px dashed #a75d93;
  height: 25px;
  font-size: 30px;
  padding-left: 5px;
  color: #a75d93;
  margin-bottom: 10px;
}

#colorPicker {
  font-size: 0px;
  width: 120px;
  text-align: center;
  height: 65px;
 border: none;
  outline: none;
  cursor: pointer;
} 

button {
  font-family: 'Amatic SC',sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 120px;
  text-align: center;
  height: 50px;
  border: none;
  outline: none;
  color: #a75d93;
  background: none;
  border: 1px dashed #a75d93;
  margin: 2vh 4vh;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 5vh auto;
  cursor: url('cursor.gif'), crosshair;
}

tr {
  height: 20px;
}

td {
  box-sizing: border-box;
  border: 1px solid #898989;
  width: 20px;

}

.eyedropper {
  cursor: url('eyedropper.gif'), crosshair;
}
