body {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 30px;
    margin: 0.2em;
    background: linear-gradient(60deg, #833ab4, #fcb045);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
td {
  box-sizing: border-box;
  border: 1px solid #898989;
}

table {
    border-collapse: collapse;
    margin: 30px auto;


}

tr {
    height: 20px;
}

td {
    width: 20px;
    cursor: url('cursor.gif'), crosshair;
}

input[type=number] {
    width: 6em;
}



.container {
  box-sizing: border-box;
  margin: 30px auto;
  padding:40px;


}
